* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

header {
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    padding: 30px 100px 80px;
    gap: 30px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.main-img img {
    width: 500px;
    height: 250px;
    object-fit: cover;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7Eb;
}

.button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    border-radius: 10%;
    border: none;
    padding: 5px 15px;
    max-width: 80px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 50px;
}

.info h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.infos {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    text-align: center;
}

.infoimg {
    width: 200px;
    height: 200px;
    border: 3px solid #3882F6;
    border-radius: 10%;
}

.infos p {
    width: 200px;
}
